.Control {
  position: relative;
  display: flex;
  width: 120px;
  height: 20px;
  align-items: center;
  background: #e5e7eb;
  touch-action: none;
  user-select: none;
}

.Thumb {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  outline: 1px solid #d1d5db;
  background: red;
  user-select: none;
}

.Thumb:has(:focus-visible) {
  outline: 2px solid #1e40af;
}
