.Root {
  padding: 1.5rem;
}

.Field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  font-weight: 500;
  color: var(--color-gray-900);
}

.Input {
  height: 2.5rem;
  width: 16rem;
  border: 1px solid var(--color-gray-200);
  border-radius: 0.375rem;
  background: canvas;
  padding-left: 0.875rem;
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  font-weight: 400;
  color: var(--color-gray-900);
}

.Input:focus {
  outline: 2px solid var(--color-blue-800);
  outline-offset: -1px;
}

.Actions {
  position: absolute;
  right: 0.5rem;
  bottom: 0;
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-600);
}

.ActionButton {
  display: flex;
  height: 2.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background: transparent;
  padding: 0;
}

.ActionIcon {
  width: 1rem;
  height: 1rem;
}

.Positioner {
  outline: none;
}

.Popup {
  width: var(--anchor-width);
  max-width: var(--available-width);
  max-height: min(var(--available-height), 23rem);
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-padding-top: 0.5rem;
  scroll-padding-bottom: 0.5rem;
  transform-origin: var(--transform-origin);
  border-radius: 0.375rem;
  background: canvas;
  padding: 0.5rem 0;
  color: var(--color-gray-900);
  outline: 1px solid var(--color-gray-200);
  box-shadow: var(--shadow-lg);
  transition:
    transform 150ms,
    scale 150ms,
    opacity 150ms;
}

.Popup[data-starting-style],
.Popup[data-ending-style] {
  scale: 0.95;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  .Popup {
    box-shadow: none;
    outline-color: var(--color-gray-300);
    outline-offset: -1px;
  }
}

.Empty {
  padding: 0.5rem 1rem;
  font-size: 0.925rem;
  line-height: 1rem;
  color: var(--color-gray-600);
}

.Empty:empty {
  margin: 0;
  padding: 0;
}

.Item {
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 0.75rem 1fr;
  align-items: center;
  gap: 0.5rem;
  cursor: default;
  padding: 0.5rem 2rem 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
  outline: none;
  user-select: none;
}

.Item[data-highlighted] {
  color: var(--color-gray-50);
}

.Item[data-highlighted]::before {
  content: '';
  position: absolute;
  inset: 0 0.5rem;
  z-index: -1;
  border-radius: 0.25rem;
  background: var(--color-gray-900);
}

.ItemIndicator {
  grid-column-start: 1;
}

.ItemIndicatorIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.ItemText {
  grid-column-start: 2;
}
