.Root {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
}

.Trigger,
.Close {
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  font-weight: 500;
  user-select: none;
}

.Trigger {
  padding-inline: 1rem;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 10%),
    0 1px 2px -1px rgb(0 0 0 / 10%);
}

.Close {
  padding-inline: 0.875rem;
}

.Trigger:hover,
.Close:hover {
  background-color: var(--color-gray-100);
}

.Trigger:active,
.Close:active {
  background-color: var(--color-gray-100);
}

.Trigger:focus-visible,
.Close:focus-visible {
  outline: 2px solid var(--color-blue);
  outline-offset: -1px;
}

.Backdrop {
  --backdrop-opacity: 0.2;
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  background-color: rgb(0 0 0);
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress, 0)));
  transition: opacity 450ms var(--ease-out-fast);
}

@supports (-webkit-touch-callout: none) {
  .Backdrop {
    position: absolute;
  }
}

.Backdrop[data-swiping] {
  transition-duration: 0ms;
}

.Backdrop[data-ending-style],
.Backdrop[data-starting-style] {
  opacity: 0;
}

.Viewport {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

@supports (-webkit-touch-callout: none) {
  .Viewport {
    padding: 10px;
  }
}

.Popup {
  height: 100%;
  width: calc(20rem + 3rem);
  max-width: calc(100vw - 3rem + 3rem);
  margin-right: -3rem;
  overflow-y: auto;
  padding: 1.5rem;
  padding-right: calc(1.5rem + 3rem);
  color: var(--color-gray-900);
  background-color: var(--color-gray-50);
  outline: 1px solid var(--color-gray-200);
  transform: translateX(var(--drawer-swipe-movement-x));
  transition: transform 525ms cubic-bezier(0.45, 1.005, 0, 1.005);
}

@supports (-webkit-touch-callout: none) {
  .Popup {
    margin-right: 0;
    width: 20rem;
    max-width: calc(100vw - 20px);
    border-radius: 10px;
    padding-right: 1.5rem;
  }
}

.Popup[data-ending-style],
.Popup[data-starting-style] {
  transform: translateX(100%);
  transition-duration: 180ms;
  transition-timing-function: cubic-bezier(0.375, 0.015, 0.545, 0.455);
}

.Title {
  margin-top: -0.375rem;
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  letter-spacing: var(--text-lg--letter-spacing);
  font-weight: 500;
}

.Description {
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--color-gray-600);
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
}

.SliderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
}

.SliderControl {
  width: 14rem;
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  touch-action: none;
  user-select: none;
}

.SliderTrack {
  width: 100%;
  height: 0.25rem;
  border-radius: 99px;
  background-color: var(--color-gray-200);
  box-shadow: inset 0 0 0 1px var(--color-gray-200);
  user-select: none;
}

.SliderIndicator {
  border-radius: 99px;
  background-color: var(--color-gray-700);
  user-select: none;
}

.SliderThumb {
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  background-color: white;
  outline: 1px solid var(--color-gray-300);
  user-select: none;
}

.SliderThumb:has(:focus-visible) {
  outline: 2px solid var(--color-blue);
}

.Actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
