@layer base {
  html {
    color-scheme: light dark;
    background-color: var(--color-gray-50);
  }

  body {
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    min-height: 100vh;
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }
}
