@layer theme;
@layer components;
@layer utilities;

/* Theme */
@import './theme.css';

/* Fonts */
@import './fonts/index.css';

/* Components */
@import './components/Accordion.css';
@import './components/Body.css';
@import './components/BulletList.css';
@import './components/Button.css';
@import './components/Figure.css';
@import './components/Icon.css';
@import './components/Key.css';
@import './components/Link.css';
@import './components/List.css';
@import './components/Menu.css';
@import './components/Popup.css';
@import './components/Separator.css';
@import './components/Text.css';

/* Utilities */
@import 'docs/src/css/utilities/index.css';
