@layer utilities {
  .bui-g-1 {
    gap: 0.25rem;
  }

  .bui-g-2 {
    gap: 0.5rem;
  }

  .bui-g-4 {
    gap: 1rem;
  }

  .bui-g-5 {
    gap: 1.25rem;
  }

  .bui-g-6 {
    gap: 1.5rem;
  }

  .bui-g-8 {
    gap: 2.5rem;
  }

  .bui-g-9 {
    gap: 3rem;
  }

  @media (min-width: 32.5rem) {
    .bp1\:bui-g-1 {
      gap: 0.25rem;
    }

    .bp1\:bui-g-2 {
      gap: 0.5rem;
    }

    .bp1\:bui-g-4 {
      gap: 1rem;
    }

    .bp1\:bui-g-5 {
      gap: 1.25rem;
    }

    .bp1\:bui-g-6 {
      gap: 1.5rem;
    }

    .bp1\:bui-g-8 {
      gap: 2.5rem;
    }

    .bp1\:bui-g-9 {
      gap: 3rem;
    }
  }

  @media (min-width: 48rem) {
    .bp2\:bui-g-1 {
      gap: 0.25rem;
    }

    .bp2\:bui-g-2 {
      gap: 0.5rem;
    }

    .bp2\:bui-g-4 {
      gap: 1rem;
    }

    .bp2\:bui-g-5 {
      gap: 1.25rem;
    }

    .bp2\:bui-g-6 {
      gap: 1.5rem;
    }

    .bp2\:bui-g-8 {
      gap: 2.5rem;
    }

    .bp2\:bui-g-9 {
      gap: 3rem;
    }
  }

  @media (min-width: 64rem) {
    .bp3\:bui-g-1 {
      gap: 0.25rem;
    }

    .bp3\:bui-g-2 {
      gap: 0.5rem;
    }

    .bp3\:bui-g-4 {
      gap: 1rem;
    }

    .bp3\:bui-g-5 {
      gap: 1.25rem;
    }

    .bp3\:bui-g-6 {
      gap: 1.5rem;
    }

    .bp3\:bui-g-8 {
      gap: 2.5rem;
    }

    .bp3\:bui-g-9 {
      gap: 3rem;
    }
  }

  @media (min-width: 80rem) {
    .bp4\:bui-g-1 {
      gap: 0.25rem;
    }

    .bp4\:bui-g-2 {
      gap: 0.5rem;
    }

    .bp4\:bui-g-4 {
      gap: 1rem;
    }

    .bp4\:bui-g-5 {
      gap: 1.25rem;
    }

    .bp4\:bui-g-6 {
      gap: 1.5rem;
    }

    .bp4\:bui-g-8 {
      gap: 2.5rem;
    }

    .bp4\:bui-g-9 {
      gap: 3rem;
    }
  }

  @media (min-width: 102.5rem) {
    .bp5\:bui-g-1 {
      gap: 0.25rem;
    }

    .bp5\:bui-g-2 {
      gap: 0.5rem;
    }

    .bp5\:bui-g-4 {
      gap: 1rem;
    }

    .bp5\:bui-g-5 {
      gap: 1.25rem;
    }

    .bp5\:bui-g-6 {
      gap: 1.5rem;
    }

    .bp5\:bui-g-8 {
      gap: 2.5rem;
    }

    .bp5\:bui-g-9 {
      gap: 3rem;
    }
  }
}
