@layer utilities {
  .bui-gtc-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .bui-gtc-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .bui-gtc-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .bui-gtc-8 {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (min-width: 32.5rem) {
    .bp1\:bui-gtc-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .bp1\:bui-gtc-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    .bp1\:bui-gtc-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    .bp1\:bui-gtc-8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  @media (min-width: 48rem) {
    .bp2\:bui-gtc-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .bp2\:bui-gtc-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    .bp2\:bui-gtc-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    .bp2\:bui-gtc-8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  @media (min-width: 64rem) {
    .bp3\:bui-gtc-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .bp3\:bui-gtc-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    .bp3\:bui-gtc-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    .bp3\:bui-gtc-8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  @media (min-width: 80rem) {
    .bp4\:bui-gtc-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .bp4\:bui-gtc-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    .bp4\:bui-gtc-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    .bp4\:bui-gtc-8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  @media (min-width: 102.5rem) {
    .bp5\:bui-gtc-2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .bp5\:bui-gtc-4 {
      grid-template-columns: repeat(4, 1fr);
    }

    .bp5\:bui-gtc-6 {
      grid-template-columns: repeat(6, 1fr);
    }

    .bp5\:bui-gtc-8 {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}
