@layer utilities {
  .bui-gce-1 {
    grid-column-end: 1;
  }

  .bui-gce-2 {
    grid-column-end: 2;
  }

  .bui-gce-3 {
    grid-column-end: 3;
  }

  .bui-gce-4 {
    grid-column-end: 4;
  }

  .bui-gce-5 {
    grid-column-end: 5;
  }

  .bui-gce-6 {
    grid-column-end: 6;
  }

  .bui-gce-7 {
    grid-column-end: 7;
  }

  .bui-gce-8 {
    grid-column-end: 8;
  }

  .bui-gce-9 {
    grid-column-end: 9;
  }

  @media (min-width: 32.5rem) {
    .bp1\:bui-gce-1 {
      grid-column-end: 1;
    }

    .bp1\:bui-gce-2 {
      grid-column-end: 2;
    }

    .bp1\:bui-gce-3 {
      grid-column-end: 3;
    }

    .bp1\:bui-gce-4 {
      grid-column-end: 4;
    }

    .bp1\:bui-gce-5 {
      grid-column-end: 5;
    }

    .bp1\:bui-gce-6 {
      grid-column-end: 6;
    }

    .bp1\:bui-gce-7 {
      grid-column-end: 7;
    }

    .bp1\:bui-gce-8 {
      grid-column-end: 8;
    }

    .bp1\:bui-gce-9 {
      grid-column-end: 9;
    }
  }

  @media (min-width: 48rem) {
    .bp2\:bui-gce-1 {
      grid-column-end: 1;
    }

    .bp2\:bui-gce-2 {
      grid-column-end: 2;
    }

    .bp2\:bui-gce-3 {
      grid-column-end: 3;
    }

    .bp2\:bui-gce-4 {
      grid-column-end: 4;
    }

    .bp2\:bui-gce-5 {
      grid-column-end: 5;
    }

    .bp2\:bui-gce-6 {
      grid-column-end: 6;
    }

    .bp2\:bui-gce-7 {
      grid-column-end: 7;
    }

    .bp2\:bui-gce-8 {
      grid-column-end: 8;
    }

    .bp2\:bui-gce-9 {
      grid-column-end: 9;
    }
  }

  @media (min-width: 64rem) {
    .bp3\:bui-gce-1 {
      grid-column-end: 1;
    }

    .bp3\:bui-gce-2 {
      grid-column-end: 2;
    }

    .bp3\:bui-gce-3 {
      grid-column-end: 3;
    }

    .bp3\:bui-gce-4 {
      grid-column-end: 4;
    }

    .bp3\:bui-gce-5 {
      grid-column-end: 5;
    }

    .bp3\:bui-gce-6 {
      grid-column-end: 6;
    }

    .bp3\:bui-gce-7 {
      grid-column-end: 7;
    }

    .bp3\:bui-gce-8 {
      grid-column-end: 8;
    }

    .bp3\:bui-gce-9 {
      grid-column-end: 9;
    }
  }

  @media (min-width: 80rem) {
    .bp4\:bui-gce-1 {
      grid-column-end: 1;
    }

    .bp4\:bui-gce-2 {
      grid-column-end: 2;
    }

    .bp4\:bui-gce-3 {
      grid-column-end: 3;
    }

    .bp4\:bui-gce-4 {
      grid-column-end: 4;
    }

    .bp4\:bui-gce-5 {
      grid-column-end: 5;
    }

    .bp4\:bui-gce-6 {
      grid-column-end: 6;
    }

    .bp4\:bui-gce-7 {
      grid-column-end: 7;
    }

    .bp4\:bui-gce-8 {
      grid-column-end: 8;
    }

    .bp4\:bui-gce-9 {
      grid-column-end: 9;
    }
  }

  @media (min-width: 102.5rem) {
    .bp5\:bui-gce-1 {
      grid-column-end: 1;
    }

    .bp5\:bui-gce-2 {
      grid-column-end: 2;
    }

    .bp5\:bui-gce-3 {
      grid-column-end: 3;
    }

    .bp5\:bui-gce-4 {
      grid-column-end: 4;
    }

    .bp5\:bui-gce-5 {
      grid-column-end: 5;
    }

    .bp5\:bui-gce-6 {
      grid-column-end: 6;
    }

    .bp5\:bui-gce-7 {
      grid-column-end: 7;
    }

    .bp5\:bui-gce-8 {
      grid-column-end: 8;
    }

    .bp5\:bui-gce-9 {
      grid-column-end: 9;
    }
  }
}
