@import './align-items.css';
@import './box-sizing.css';
@import './display.css';
@import './flex-direction.css';
@import './flex-wrap.css';
@import './font-weight.css';
@import './gap.css';
@import './grid-auto-rows.css';
@import './grid-column-end.css';
@import './grid-column-start.css';
@import './grid-template-columns.css';
@import './height.css';
@import './justify-content.css';
@import './left.css';
@import './margin.css';
@import './outline.css';
@import './padding.css';
@import './position.css';
@import './scroll-margin-top.css';
@import './text-align.css';
@import './top.css';
@import './visibility.css';
@import './width.css';
@import './white-space.css';
