@layer utilities {
  .bui-jc-c {
    justify-content: center;
  }

  .bui-jc-fs {
    justify-content: flex-start;
  }

  .bui-jc-fe {
    justify-content: flex-end;
  }

  .bui-jc-sb {
    justify-content: space-between;
  }
}
