name: New issue triage
on:
  issues:
    types:
      - opened

permissions: {}

jobs:
  issue_cleanup:
    name: Clean issue body
    uses: mui/mui-public/.github/workflows/issues_body-cleanup.yml@91b038cb6c568b63684a7be0146dd12747e76060
    permissions:
      contents: read
      issues: write
